@{
    
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Image Brother</h1>
    <p>...just another free image hosting service...<sup>*sigh*</sup></p>
    <hr />

    <section id="uploadForm">
        @using (Html.BeginForm("", "imgs", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            @Html.React("ImageUpload", new { url=ViewBag.Url })            
        }
    </section>

</div>

@section scripts
{
    <script src="@Url.Content("~/bundles/image-upload?v=120")"></script>
}