@model imgbruh.Features.Imgs.Details.Model

@{
    ViewBag.Title = "Details";
}

<div class="row text-center">    
    <img class="img-responsive" src="@Model.Url" />
    <hr />    
</div>
<div class="row">
    <div class="col">
        <h4>@Model.CodeName</h4>
    </div>
    <div class="col">
        <h5>by</h5>
    </div>
    <div class="col">
        <h4>@Model.UserName</h4>
    </div>
</div>